<hr>
<div>
    <h1 class="display-5 titulo">Listado de Peliculas</h1>
    <hr>
</div>
<a href="movies/new" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Crear Pelicula/Serie</a>
<hr>
<div class="container-fluid">
    <table class="table table-success table-striped">
        <tr>

            <thead class="table-dark">
                <th>Id</th>
                <th>Imagen</th>
                <th>Titulo</th>
                <th>Fecha Creacion</th>
                <th>Mostrar</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </thead>
        </tr>
        <% @movies.each do |movie|%>
            <tr>
                <td>
                    <%= movie.id%>
                </td>
                <td>
                    <img src="<%= movie.url_imagen %>" alt="">
                </td>
                <td>
                    <%= movie.titulo%>
                </td>
                <td>
                    <%= movie.fecha_creacion%>
                </td>
                <td>
                    <button type="button" class="btn btn-info"><a class="nav-link" href="movies/<%= movie.id%>">Mostrar Detalles<span class="sr-only"></span></a></button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning"><%= link_to "Editar",edit_movie_path(movie) %></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"><%= link_to "Eliminar", movie,method: :delete, data: { confirm: "Deseas eliminar esta pelicula?" } %> </button>
                </td>
            </tr>
            <%end%>
    </table>
</div>